<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <h1>Ruby on Rails スケジュール管理アプリ</h1>
  </header>

  <body>
    <%= yield %>
  </body>
  
  <footer>
    <% require "date" %>
    <% now_time = DateTime.now.new_offset(Rational(9, 24)) %>
    <p>現在の日時：<%= now_time.to_s(:datetime_jp) %></p>
    <% if current_page?(schedules_path) %>
      <p>スケジュールの合計：<%= @schedules.count %></p>
    <% end %>
  </footer>

</html>
